/* ==========================================================================
   Tile
   ========================================================================*/

.c-tile {
  position: relative;
}

.c-tile__image {
  display: block;
  max-width: 100%;
}

.c-tile__title {
  position: absolute;
  bottom: 0;
  left: 20px;

  font-size: 1.5em;

  @media (min-width: $md) {
    font-size: 1.75em;
  }
}

/* ==========================================================================
   Header
   ========================================================================*/

.c-nav {
  background-color: $color-bassment;
  height: calc(60px - 2 * 11px);
  padding: 11px;
}

.c-nav__title {
  font-size: 1.5em;
  font-weight: bold;
}

/* ==========================================================================
   Footer
   ========================================================================*/

.c-footer {
  svg {
    height: 40px;
  }
}

.c-footer__mail {
  font-size: 1.5em;
  font-weight: 500;
}
