.o-grid {
  display: flex;
  flex-flow: row wrap;
}

.o-grid--fixed {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.o-grid__child {
  flex: 0 0 100%;

  @media (min-width: $md) {
    flex-basis: 50%;
  }
}

.o-grid__child--space-around {
  display: flex;
  justify-content: space-around;
}
