.u-text-color--white {
  color: $color-white !important;
}

.u-text-color--black {
  color: $color-black !important;
}

.u-bg-color--rosalie {
  background-color: $color-rosalie !important;
}

.u-text-decoration-none {
  text-decoration: none !important;
}
