@import 'variables';
@import 'objects';
@import 'components';
@import 'header';
@import 'utilities';

html {
  font-family: "Avenir Next", "Open Sans", -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Avenir, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
}

p {
  max-width: 544px;
}

nav.rosalie {
  background-color: $color-rosalie;
}
