extends ../layout/base.pug

block content
  main.o-grid--fixed
    img(src="/images/radio-usine.jpg" alt="Radio-Usine - Bassment! Station!")
    section
      h1.c-heading-page Bassment! Station! / Radio-Usine
      p Tous les premiers et troisièmes jeudis du mois les choses se passent sur Radio-Usine!!! Bassment! y dirige d’une main de fer son émission consacrée à la musique de 21h jusqu’à sa fin!

      p
        a(href="http://www.radio-usine.net/siteweb/" rel="external" title="Radio-Usine") Tu peux nous écouter en live ici!

      h2 Podcasts
      p
        audio(id="audio" preload="auto" tabindex="0" controls="" type="audio/mpeg")
          source(type="audio/mp3" src="")
          | Votre navigateur ne supporte pas l'élément #[code audio]

      ul#playlist

      script(src="/js/player.js")
