extends ../layout/base.pug

block variables
  - var rosalie = 'u-bg-color--rosalie'

block content
  main.o-grid--fixed
    img(src="/images/rosalie.jpg" alt="Rosalie")
    section
      h1.c-heading-page Rosalie
      p Derrière ce charmant prénom se cache un vélo de plaisance à quatre places. Ce projet, démarré en 2015 dans le but de promouvoir la mobilité douce, a depuis conquis un plus large public et s’est vu adjoindre une petite sœur en 2016.
      p Présente dans de nombreuses manifestations, c’est toujours un émerveillement que de voir passer Rosalie et son équipe motivée!
      p Rosalie peut être louée pour vos événements, pour plus de renseignements, veuillez nous contacter.
