extends ../layout/base.jade

block variables
  - var rosalie = 'rosalie'

block content
  .container-fluid
    .row
      .col-lg-6.p-a-0
        img(src="/images/rosalie.jpg" alt="Rosalie" class="img-fluid")
      .col-lg-6
        h1.m-t-2.m-b-1.font-weight-bold Rosalie
        p.text-justify Derrière ce prénom féminin se cache un vélo de plaisance à quatre places. Ce projet, démarré en 2015, à pour but la promotion de la mobilité douce. Propulsée intégralement à la force des jambes, Bassment! planche sur un système de propulsion électrique et solaire.
        p.text-justify La Rosalie peut être louée pour vos événements, pour plus de renseignements, veuillez nous contacter.
