extends ../layout/base.jade

block content
  .container-fluid
    .row
      .col-lg-6.p-a-0
        img(src="/images/association.png" alt="Association Bassment!" class="img-fluid")
      .col-lg-6
        h1.m-t-2.m-b-1.font-weight-bold Association Bassment!
        p.text-justify Bassment! à pour buts la promotion de la culture, l’organisation de manifestations culturelles et la favorisation de l’accès à la culture.
        p.text-justify Pour toutes informations supplémentaires, ou si vous souhaitez devenir membre, vous pouvez nous contacter.
