extends ../layout/base.pug

block content
  main.o-grid--fixed
    img(src="/images/association.png" alt="Association Bassment!")
    section
      h1.c-heading-page Association Bassment!
      p Bassment! à pour buts la promotion de la culture, l’organisation de manifestations culturelles et la favorisation de l’accès à la culture.
      p Pour toutes informations supplémentaires, ou si vous souhaitez devenir membre, vous pouvez nous contacter par mail.
