block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Association Bassment!
    meta(name='description', content='Association Bassment!')
    meta(name='author', content='rspt')
    link(rel='stylesheet', href='/css/styles.css?v=1.0')
  body
    nav(class="navbar #{ rosalie }")
      a(href="/" title="Bassment!")
        img(src="/images/bassment-logo.svg" alt="Bassment! Logo")
    
    block content
      
    footer.o-grid.c-footer
      .o-grid__child.o-grid__child--space-around
        a.c-footer__mail.u-text-color-black.u-text-decoration-none(href="mailto:info@bassment.ch" title="Contactez-nous") info@bassment.ch
      .o-grid__child.o-grid__child--space-around
        a(href="https://www.facebook.com/4Bassment/" class="nav-link")
          include ../../images/vendors/facebook.svg
        a(href="https://www.instagram.com/bassmentgva/" class="nav-link")
          include ../../images/vendors/instagram.svg
        a(href="https://soundcloud.com/4bassment" class="nav-link")
          include ../../images/vendors/soundcloud.svg
        a(href="https://www.mixcloud.com/4bassment/" class="nav-link")
          include ../../images/vendors/mixcloud.svg    
