block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Association Bassment!
    meta(name='description', content='Association Bassment!')
    meta(name='author', content='rspt')
    link(rel='stylesheet', href='/css/styles.css?v=1.0')
  body
    nav(class="navbar #{ rosalie }")
      a(href="/" title="Bassment!")
        img(src="/images/bassment-logo.svg" alt="Bassment! Logo")
    
    main
      block content
      
    footer.container-fluid
      .row
        .col-xs-12.col-md-6.text-xs-center
          a(class="navbar-brand" href="mailto:info@bassment.ch") info@bassment.ch
        .col-xs-12.col-md-6.pull-md-right.text-xs-center
          a(href="https://www.facebook.com/4Bassment/" class="nav-link")
            img(src="/images/vendors/facebook.svg" title="Facebook")
          a(href="https://www.instagram.com/bassmentgva/" class="nav-link")
            img(src="/images/vendors/instagram.svg" title="Instagram")
          a(href="https://soundcloud.com/4bassment" class="nav-link")
            img(src="/images/vendors/soundcloud.svg" title="Soundcloud")
          a(href="https://www.mixcloud.com/4bassment/" class="nav-link")
            img(src="/images/vendors/mixcloud.svg" title="Mixcloud")         
