block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Association Bassment!
    meta(name='description', content='Association Bassment!')
    meta(name='author', content='rspt')
    link(rel='stylesheet', href='/css/styles.css?v=1.0')
  body
    nav(class=rosalie)
      a(href="/" title="Bassment!")
        img(src="/images/bassment-logo.svg" alt="Bassment! Logo")
    
    main
      block content
      
    footer
      ul
        li
          a(href="https://www.facebook.com/4Bassment/")
            img(src="/images/vendors/facebook.svg" title="Facebook")
        li
          a(href="https://www.instagram.com/bassmentgva/")
            img(src="/images/vendors/instagram.svg" title="Instagram")
        li
          a(href="https://soundcloud.com/4bassment")
            img(src="/images/vendors/soundcloud.svg" title="Soundcloud")
        li
          a(href="https://www.mixcloud.com/4bassment/")
            img(src="/images/vendors/mixcloud.svg" title="Mixcloud")
        
