extends ../layout/base.pug

block content
  main.o-grid--fixed
    img(src="/images/events.jpg" alt="Événements")
    section
      h1 Événements
      p Retrouve tous nos événements sur #[a(href="https://www.facebook.com/4Bassment/events") Facebook].
      div(class="fb-page" data-href="https://www.facebook.com/4Bassment" data-show-facepile="false" data-tabs="events, timeline, messages" data-small-header="true")

  script(src="/js/fb.js")
