extends ../layout/base.jade

block content
  .container-fluid
    .row
      .col-lg-6.p-a-0
        img(src="/images/events.jpg" alt="Événements" class="img-fluid")
      .col-lg-6
        h1.m-t-2.m-b-1.font-weight-bold Événements
        p.text-justify Retrouve tout nos événements sur #[a(href="https://www.facebook.com/4Bassment/events") Facebook]
