extends ./layout/base.jade

block content
  h1(class="f4 f3-ns") Association Bassment!
  p L'association Bassment! à pour buts la promotion de la culture, l’organisation de manifestations culturelles et la favorisation de l’accès à la culture.
  p Bassment! est notamment derrière des projets comme la #[a(href="/rosalie") Rosalie] (voiture à pédale rouge), l'émission de radio #[a(href="/bassment-station") Bassment! Station!] et le #[a(href="/sound-system") Bassment! Sound System] et promeut plusieurs DJs et artistes.
