extends ./layout/base.jade

block content
  section(class="container-fluid")
    .row.no-gutter
      .col-md-6
        a(class="home__card" href="/events")
          img(src="/images/events.jpg" class="img-fluid")
          h2 Événements
      .col-md-6
        a(class="home__card" href="/rosalie")
          img(src="/images/rosalie.jpg" class="img-fluid")
          h2 Rosalie
      .col-md-6
        a(class="home__card" href="/soundsystem")
          img(src="/images/soundsystem.jpg" class="img-fluid")
          h2 Sound System
      .col-md-6
        a(class="home__card" href="/bassmentstation")
          img(src="/images/radio-usine.jpg" class="img-fluid")
          h2 Bassment! Station
      .col-md-6
        a(class="home__card" href="/association")
          img(src="/images/association.png" class="img-fluid")
          h2 Association
