extends ./layout/base.jade

block content
  main.o-grid
    a.o-grid__child.c-tile(href="/events")
      img.c-tile__image(src="/images/events.jpg")
      h2.c-tile__title.u-text-color-white.u-text-decoration-none
        | Événements
    a.o-grid__child.c-tile(href="/rosalie")
      img.c-tile__image(src="/images/rosalie.jpg")
      h2.c-tile__title.u-text-color-white.u-text-decoration-none
        | Rosalie
    a.o-grid__child.c-tile(href="/soundsystem")
      img.c-tile__image(src="/images/soundsystem.jpg")
      h2.c-tile__title.u-text-color-white.u-text-decoration-none
        | Sound System
    a.o-grid__child.c-tile(href="/bassmentstation")
      img.c-tile__image(src="/images/radio-usine.jpg")
      h2.c-tile__title.u-text-color-white.u-text-decoration-none
        | Bassment! Station
    a.o-grid__child.c-tile(href="/association")
      img.c-tile__image(src="/images/association.png")
      h2.c-tile__title.u-text-color-white.u-text-decoration-none
        | Association
