extends ../layout/base.jade

block content
  .container-fluid
    .row
      .col-lg-6.p-a-0
        img(src="/images/soundsystem.jpg" alt="Bassment! Sound System" class="img-fluid")
      .col-lg-6
        h1.m-t-2.m-b-1.font-weight-bold Sound System
        p.text-justify Dans un but d’autonomie, Bassment! s’est mis à développer son propre système de sonorisation. En évolution constante, le « sound system » permet à l‘association de sonoriser un grand nombre d’événements.
        p.text-justify Pour toutes informations ou demandes de locations, vous pouvez nous contacter.
