extends ../layout/base.jade

block content
  h1(class="f4 f3-ns") Sound System

  article(class="pa3 pa5-ns")
    h1 Le sound system en chiffre
    dl(class="dib mr5")
      dd(class="f6 f5-ns b ml0") Mètres de câbles
      dd(class="f3 f2-ns b ml0") 2500
    dl(class="dib mr5")
      dd(class="f6 f5-ns b ml0") Closed Issues
      dd(class="f3 f2-ns b ml0") 1,024
    dl(class="dib mr5")
      dd(class="f6 f5-ns b ml0") Closed Issues
      dd(class="f3 f2-ns b ml0") 1,024
    dl(class="dib mr5")
      dd(class="f6 f5-ns b ml0") Closed Issues
      dd(class="f3 f2-ns b ml0") 1,024
    dl(class="dib mr5")
      dd(class="f6 f5-ns b ml0") Closed Issues
      dd(class="f3 f2-ns b ml0") 1,024
    dl(class="dib mr5")
      dd(class="f6 f5-ns b ml0") Closed Issues
      dd(class="f3 f2-ns b ml0") 1,024
