extends ../layout/base.pug

block content
  main.o-grid--fixed
    img(src="/images/soundsystem.jpg" alt="Bassment! Sound System")
    section
      h1 Sound System
      p Dans un but d’autonomie, Bassment! s’est mis à développer son propre système de sonorisation. En évolution constante, le « sound system » permet à l‘association de sonoriser un grand nombre d’événements.
      p Pour toutes informations ou demandes de locations, vous pouvez nous contacter.
